---
layout: default
---

  {% for post in site.posts limit:50 %}
    <article class="clearfix post type-post status-publish format-standard hentry category-technology tag-medium tag-wordpress" role="article">
      <header class="article-header">
				<div class="post-date">{{ post.date | date: "%Y-%m-%d" }}</div>
        <h2 class="h2">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </header>
      <section class="entry-content entry-content-excerpt clearfix">
        {% if post.content contains "<!-- more -->" %}
        <p>
			    {{ post.content | split:"<!-- more -->" | first }}
        </p>
		    <div class="excerpt-link-wrapper">
			    <a href='{{post.url}}' title='Read more...'>Read more...</a>
		    </div>
		    {% else %}
			    {{ post.content }}
		    {% endif %}
      </section>
    </article>
    {% endfor %}
