<header class="header nav-down" role="banner">

	<a href="/" class="logo span-3">
		<img class="logo-image" src="/assets/logo.png">
	</a>

	<nav class="nav-main" role="navigation">
		<div class="nav-main-menu">
			<ul id="menu-main-menu" class="nav top-nav">
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/archive" title="Archive">Archive</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/marathons" title="Marathons">Marathons</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about" title="About">About</a></li>
			</ul>
		</div>
		<div class="nav-main-social">
			<ul class="list-header-social">
				<li>
					<a href="https://github.com/qihaiyan" target="_blank" class="link-icon icon-github" title=""></a>
				</li>

			</ul>
		</div>
	</nav>

	<div class="header-about span-6">
		业精于勤而荒于嬉，行成于思而毁于随。 </div>

	<div class="header-social span-3">
		<ul class="list-header-social">
			<li>
				<a href="https://github.com/qihaiyan" target="_blank" class="link-icon icon-github" title=""></a>
			</li>
		</ul>
	</div>

	<div class="btn-nav-mobile-menu">
		<div class="line line-01"></div>
		<div class="line line-02"></div>
		<div class="line line-03"></div>
	</div>

</header>
