<script>
var _documents = null, _idx = null, _idxPromise = null;

// lunr.js (~22KB) 与搜索索引(~100KB+)仅在用户真正搜索时才加载
function _loadLunr() {
    if (window.lunr) return Promise.resolve();
    return new Promise(function (resolve, reject) {
        var s = document.createElement('script');
        s.src = '{{site.baseurl}}/assets/js/lunr.js';
        s.onload = resolve;
        s.onerror = reject;
        document.head.appendChild(s);
    });
}

function _getSearchIndex() {
    if (_idxPromise) return _idxPromise;
    _idxPromise = _loadLunr().then(function () {
        return fetch('{{site.baseurl}}/search-index.json');
    }).then(function (r) { return r.json(); }).then(function (docs) {
        _documents = docs;
        _idx = lunr(function () {
            this.ref('id');
            this.field('title');
            this.field('body');
            _documents.forEach(function (doc) {
                this.add(doc)
            }, this)
        });
        return _idx;
    });
    return _idxPromise;
}

$(function() {
    $("#lunrsearchresults").on('click', '#btnx', function () {
        $('#lunrsearchresults').hide( 1000 );
        $( "body" ).removeClass( "modal-open" );
    });
});

function lunr_search(term) {
    $('#lunrsearchresults').show( 1000 );
    $( "body" ).addClass( "modal-open" );

    document.getElementById('lunrsearchresults').innerHTML = '<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button type="button" class="close" id="btnx" data-dismiss="modal" aria-label="Close"> &times; </button> </div> <div class="modal-body"> <ul class="mb-0"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button></div></div> </div></div>';
    if(term) {
        document.getElementById('modtit').innerHTML = "<h5 class='modal-title'>Search results for '" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
        var ul = document.querySelectorAll('#lunrsearchresults ul')[0];
        ul.innerHTML = "<li class='lunrsearchresult'>Searching...</li>";
        _getSearchIndex().then(function (idx) {
            var results = idx.search(term);
            ul.innerHTML = "";
            if(results.length>0){
                for (var i = 0; i < results.length; i++) {
                    var ref = results[i]['ref'];
                    var url = _documents[ref]['url'];
                    var title = _documents[ref]['title'];
                    var body = _documents[ref]['body'].substring(0,160)+'...';
                    ul.innerHTML = ul.innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><small><span class='body'>"+ body +"</span><br /><span class='url'>"+ url +"</span></small></a></li>";
                }
            } else {
                ul.innerHTML = "<li class='lunrsearchresult'>Sorry, no results found. Close & try a different search!</li>";
            }
        }).catch(function () {
            ul.innerHTML = "<li class='lunrsearchresult'>Search failed. Please try again.</li>";
        });
    }
    return false;
}
</script>
<style>
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>




<form class="bd-search hidden-sm-down" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
<input type="text" class="form-control text-small"  id="lunrsearch" name="q" value="" placeholder="Type keyword and enter...">
</form>
