<div id="sidebar1" class="sidebar clearfix" role="complementary">
	<div class="sidebar-inner">

		<div class="sidebar-main-menu">
			<ul id="menu-main-menu-1" class="nav top-nav">
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11174"><a href="archive" title="Archive">Archive</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8913"><a href="marathons" title="Marathons">Marathons</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8917"><a href="/about" title="About">About</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12414"><a href="/legal" title="Legal">Legal</a></li>
			</ul>
		</div>

		<div class="link-back-top" style="display: none;">Back to Top</div>
	</div>

</div>