/* Animation Classes */

@-webkit-keyframes spin{
  0%    {-webkit-transform:rotate(0deg)}
  100%  {-webkit-transform:rotate(360deg)}
}

.anim-spin {
  -webkit-animation-name:spin;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

// Pulse for loader

@-webkit-keyframes pulse{
  0%    {-webkit-opacity:1;}
  50%   {-webkit-opacity:0;}
  100%  {-webkit-opacity:1;}
}

@-moz-keyframes pulse{
  0%    {-moz-opacity:1;}
  50%   {-moz-opacity:0;}
  100%  {-moz-opacity:1;}
}

@keyframes pulse{
  0%    {opacity:1;}
  50%   {opacity:0;}
  100%  {opacity:1;}
}

.anim-pulse {
  @include animation(pulse,0.8s,infinite,linear);
}

// Slide in

@-webkit-keyframes slide-in{
  0%    {-webkit-transform:translateX(30px); -webkit-opacity:0;}
  100%  {-webkit-transform:translateX(0px); -webkit-opacity:1;}
}

@-moz-keyframes slide-in{
  0%    {-moz-transform:translateX(30px); -moz-opacity:0;}
  100%  {-moz-transform:translateX(0px); -moz-opacity:1;}
}

@keyframes slide-in{
  0%    {transform:translateX(30px); opacity:0;}
  100%  {transform:translateX(0px); opacity:1;}
}

.anim-slide-in {
  @include animation(slide-in,0.2s,1,ease-out);
}

/* Global Classes */

%transition {
  -moz-transition:all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition:all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition:all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition:all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

%transition-header {
  -moz-transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out; 
  transition:all 0.25s ease-in-out;
}

%transition-slow {
  -moz-transition:all 0.5s ease-out;
  -webkit-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out; 
  transition:all 0.5s ease-out;
}

%transition-fast {
  -moz-transition:all 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition:all 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition:all 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition:all 0.1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

%no-transition {
  -moz-transition:none;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}

%translate-3d {
  -webkit-tansform:translate3d(0,0,0);
}

%antialiased {
  -webkit-font-smoothing:antialiased;
}

%backface-hidden {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

%no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

%flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

%hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-word-break:break-all;
  -moz-word-break:break-all;
  -ms-word-break:break-all;
  word-break:break-all;
  word-break: break-word
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color:$black;
  padding: 0.2em 0;
}

%clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

%small-caps {
  @include font_size($size_small,$size_small);
  letter-spacing:2px;
  font-weight:500;
  display:block;
  text-transform:uppercase;
  -webkit-font-smoothing:subpixel-antialiased;
}

%icon {
  font-family:"Icons";
  font-weight:normal;
  -webkit-font-smoothing:antialiased;
}

%dot {
  @include rounded(100%);
  width:6px;
  height:6px;
  // background:$orange;
  display:inline-block;
  position:relative;
}

%moz-grayscale-100 {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

%moz-grayscale-0 {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.is-visible {
  @include opacity(1);
}

.is-hidden {
  @include opacity(0);
  -webkit-pointer-events:none;
  -moz-pointer-events:none;
  pointer-events:none;
}

.no-scroll {
  overflow:hidden;
}

.clear {
  clear:both;
  display:block;
  height:0;
}

.center {
  text-align:center;
}

.half {
  width:48%;
  @include respond_to(mobile){
    width:100%;
  }
}

.full {
  width:100%;
}

.right {
  float:right;
}

.left {
  float:left;
}

%border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}