/* Layout */

// Columns
@include build_columns($columns,$column_fraction,$container_base);

.span-9 {
    @include respond_to(tablet-below){
        width:100%;
    }
}

// Containers

.header {
    @extend %border-box;
    @extend %clearfix;
    @extend %transition-header;
    position:relative;
    z-index:100;
    margin:0 auto;
    max-width:$container_size;
    padding:$v_pad_l 0 ($v_pad_l + 2);
    z-index:100;
    @include respond_to(tablet-below){
        @include gradient_vert_middle(rgba($white,0), $white);
        padding:$v_pad $g_pad $v_pad_l;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        &.nav-up {
            @include translate(0,-120px);
        }
    }
    @include respond_to(mobile){ 
        padding:$g_pad_s $g_pad_s $g_pad;
        &.nav-up {
            @include translate(0,-80px);
        }
    }
}

.container {
    @extend %border-box;
    @extend %clearfix;
    position:relative;
    z-index:10;
    margin:0 auto;
    max-width:$container_size;
    @include respond_to(tablet-below){
        padding-top:$v_pad_l * 2;
    }
    @include respond_to(mobile){
        padding-top:$v_pad_l * 2;
    }
}

.content-inner {
    @extend %transition-slow;
    @extend %border-box;
    float:left;
    padding-right:$g_pad;
    padding-top:10px;
    @include respond_to(tablet-below){
        padding-top:0;
        float:none;
        width:100%;
        padding:0 $g_pad;
    }
    @include respond_to(mobile){
        padding:0 $g_pad_s;
    }
}

.footer {
    @extend %border-box;
    @extend %clearfix;
    @extend %transition-slow;
    @include font_size($size_medium,($size_medium * 1.65));
    clear:both;
    padding:$v_pad_l 0;
    @include respond_to(tablet-below){
        padding:$v_pad_l $g_pad;
    }
    @include respond_to(mobile){
        @include font_size($size_small,($size_small * 1.65));
        padding:$v_pad $g_pad_s;
    }
}

// Container Elements

.header-about {
    @extend %border-box;
    @include font_size($size_medium,2.4);
    float:left;
    padding-right:$g_pad;
    color:$gray_03;
    @include respond_to(tablet-below){
        display:none;
    }
}

.header-social {
    @extend %border-box;
    float:left;
    padding-left:$g_pad;
    @include respond_to(tablet-below){
        display:none;
    }
}

.logo {
    @extend %border-box;
    @include font_size(3.6,3.6);
    font-family:$font_heading;
    display:block;
    float:left;
    letter-spacing:-2px;
    position:relative;
    z-index:30;
    margin-top:-1px;
    padding-left:$g_pad;
    padding-right:$g_pad;
    @include respond_to(tablet-below){
        padding-left:0;
        width:200px;
        padding-right:0;
        @include font_size(3.6,3.6);
    }
    @include respond_to(mobile){
        // width:200px;
        top:-2px;
        @include font_size(3.0,3.0);
    }
}

.logo-image {
    width:100%;
    height:auto;
    display:block;
    position:relative;
    padding-left: 30px;
    @include respond_to(tablet-below){ 
        left:-12px;
    }
}

// .logo-feld {
//     position:relative;
//     color:$gray_01;
//     &:before {
//         @include rounded(100%);
//         content:"";
//         width:6px;
//         height:6px;
//         position:absolute;
//         left:-13px;
//         top:10px;
//         // background:$orange;
//         @include respond_to(mobile){
//             left:-10px;
//             top:8px;
//         }
//     }
// }

// .logo-thoughts {
//     @extend %transition;
//     // color:$orange;
// }

// .no-touch .logo:hover .logo-feld {
    // color:$orange;
// }

.copyright {
    float:right;
    a {
        @extend %link-serif;
    }
}

.copyright-bullet {
    padding:0 $g_pad_s;
    @include respond_to(mobile){
        padding:0 ($g_pad_s / 2);
    }
}

// Sidebar

.sidebar {
    @extend %border-box;
    width:($column_fraction * 3) + px;
    padding-right:$g_pad;
    font-family:$font_heading;
    position:absolute;
    @include respond_to(tablet-below){
        display:none;
    }
    &.scrolled {
        position:fixed;
        top:$v_pad_l;
    }
    ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    li {
        padding-bottom:$v_pad;
        // &:last-child {
        //     padding-bottom:0;
        // }
    }
    .current_page_item a {
        // color:$orange;
    }
    a {
        @extend %link-sans;
        @extend %no-select;
    }
    // Menu
    .sidebar-main-menu {
        a {
            @extend %link-sans;
            font-weight:500;
        }
        // li:last-child {
        //     &:after {
        //         content:"—";
        //         font-weight:500;
        //         display:block;
        //         clear:both;
        //         padding:$v_pad 0;
        //     }
        // }
    }
    // .widget_categories ul, .widget_tag_cloud .tagcloud, form {
    //     display:none;
    // }
}

// Sidebar Modal Menu
.sidebar-search {
    position:relative;
}

// Modal Menu
.sub-menu-item {
    @extend %transition;
    @extend %no-select;
    font-weight:400;
    position:relative;
    z-index:20;
    padding-bottom:$v_pad;
    cursor:pointer;
    color:$gray_01;
    @include respond_to(mobile){
        padding-bottom:$v_pad_s;
    }
    &:hover:not(.active) .dot {
        // @include opacity(1);
        @include scale(1);
        background:$gray_04;
    }
    &.active .dot {
        // @include opacity(1);
        @include scale(1);
        // background:$orange;
    }
    .dot {
        @extend %transition;
        @extend %translate-3d;
        @extend %dot;
        // @include opacity(0);
        @include scale(0);
        background:transparent;
        margin-left:5px;
        top:-3px;
        @include respond_to(mobile){
            top:-2px;
        }
    }
    &.is-hidden {
        @include opacity(0);
    }
}

.sidebar-inner {
    @extend %border-box;
    padding-left:$column_fraction + px;
}

// - Offset the grid, empty
.sidebar-before {
    @extend %border-box;
    float:left;
    &:before {
        content:"\00a0";
    }
    @include respond_to(tablet-below){
        display:none;
    }
}

.widgettitle {
    font-weight:300;
    margin:0;
    padding:0 0 $v_pad;
}

