/* Pages */

// Content

.content-page {
    @include respond_to(tablet-below){
        width:75%;
    }
    @include respond_to(tablet-portrait){
        width:100%;
    }
    @include respond_to(mobile){
        width:100%;
    }
    &:after {
        content:"";
        height:2px;
        width:100%;
        display:block;
        background:$gray_04;
        margin-top:$v_pad_l - 2;
        @include respond_to(mobile){
            margin-top:$v_pad;
        }
    }
    a {
        border-bottom:1px solid transparent;
        &:hover {
            // color:$orange;
        }
    }
}

// About

.about-bio p:first-child {
    @extend %type-intro;
}

// Investments

.investments-description {
    @extend %type-intro;
    padding-bottom:$v_pad_l;
}

.list-investments-companies {
    @extend %border-box;
    @extend %clearfix;
    margin:0;
    padding:0;
    & + .heading-small {
        padding-top:$v_pad_l;
    }
    .investments-company {
        @extend %border-box;
        width:46%;
        padding:$v_pad 10% 0;
        float:left;
        display:block;
        // First column
        &:first-child, &:nth-child(3n+3), &:nth-child(3n+4){
            width:27%;
            padding-bottom:0;
            padding-right:0;
            padding-left:0;
        }
        // So rows are consistent
        &:nth-child(3n+4){
            clear:left;
        }
    }
    .link-investments-company:hover {
        .image-investments-company {
            @extend %moz-grayscale-0;
            @include grayscale(0);
            @include opacity(1);
        }
    }
    .image-investments-company {
        @extend %transition;
        @extend %moz-grayscale-100;
        @include grayscale(1);
        @include opacity(0.6);
        width:100%;
        margin:0;
        padding:0;
    }

}


// Marathons

.marathon-description {
    @extend %type-intro;
    padding-bottom:$v_pad_l;
    @include respond_to(mobile){
        padding-bottom:$v_pad;
    }
}

.marathon-states-count {
    float:right;
    font-weight:400;
    color:$gray_04;
    .states-completed {
        // color:$orange;
    }
}

.list-marathon-stats {
    @extend %border-box;
    @extend %clearfix;
    display:block;
    margin:0;
    padding:0;
    padding-bottom:$v_pad - 4;
    margin-bottom:$v_pad_l - 2;
    border-bottom:2px solid $gray_04;
    @include respond_to(mobile){
        margin-bottom:$v_pad;
        padding-bottom:0;
    }
    .list-marathon-item {
        @extend %border-box;
        width:50%;
        float:left;
        display:block;
        padding-bottom:$v_pad_l;
        &:nth-child(odd){
            padding-right:$g_pad_s;
        }
        &:nth-child(even){
            padding-left:$g_pad_s;
        }
        @include respond_to(mobile){
            &.time-fastest, &.time-slowest {
                width:100%;
                padding:0 0 $v_pad;
            }
        }
    }
    .marathon-number {
        @extend %heading-max;
        font-family:$font_heading;
        white-space:nowrap;
        // color:$orange;
    }
    .marathon-item-context {
        padding-top:$v_pad_s;
    }
    .marathon-item-name {
        @include font_size($size_medium,1.8);
        color:$gray_03;
    }
}

.list-marathon-states {
    @extend %clearfix;
    display:block;
    margin:0;
    padding:0;
    margin-top:$v_pad;
    margin-bottom:$v_pad_l - 2;
    border-bottom:2px solid $gray_04;
    @include respond_to(mobile){
        margin-bottom:$v_pad;
    }
    .list-marathon-state {
        @extend %border-box;
        display:block;
        width:25%;
        float:left;
        text-align:center;
        padding:0 0 $v_pad_l;
        position:relative;
        &:nth-child(5n+5){
            text-align:right;
            width:12.5%;
            @include respond_to(mobile){
                width:32%;
                text-align:center;
            }    
        }
        &:first-child, &:nth-child(5n+6){
            text-align:left;
            width:12.5%;
            @include respond_to(mobile){
                width:32%;
                text-align:center;
            }
        }
        &:hover {
            .marathon-state {
                @include opacity(0);
            }
            .marathon-city {
                @include opacity(1);
            }
        }
        @include respond_to(mobile){
            width:32%;
            padding:0 0 $v_pad;
            &:first-child, &:nth-child(4n+5), &:nth-child(4n+4) {
                width:18%;
            }
            &:first-child, &:nth-child(4n+5){
                text-align:left;
            }
            &:nth-child(4n+4){
                text-align:right;

            }
        }

    }
    .marathon-link {
        text-decoration:none;
        cursor:alias;
        margin:0;
        padding:0;
    }
    .marathon-state {
        @extend %transition;
        position:relative;
        z-index:5;
        margin:0;
        padding:0;
    }
    .marathon-city {
        @extend %transition;
        @include font_size($size_medium,$size_medium);
        @include opacity(0);
        font-family:$font_heading;
        white-space:nowrap;
        display:block;
        // color:$orange;
        position:relative;
        font-weight:500;
        top:-($v_pad);
        z-index:10;
        @include respond_to(mobile){
            @include font_size($size_small,$size_small);
            top:-($v_pad - 6);
        }
    }
}

.table-marathons {
    @include font_size($size_medium,1.8);
    width:100%;
    margin-top:$v_pad;
    @include respond_to(mobile){
        .cell-name {
            display:none;
        }
    }
    thead {
        @extend %heading-small;
        th {
            padding:0 $g_pad_s $v_pad; 
            text-align:left;
            font-weight:500;
            @include respond_to(mobile){
                padding:0 ($g_pad_s / 2) $v_pad; 
            }
            &:first-child {
                padding-left:0;
            }
            &:last-child {
                text-align:right;
                padding-right:0;
            }
        }
    }
    tr td {
        &:first-child {
            padding-left:0;
        }
        &:last-child {
            padding-right:0;
            text-align:right;
        }
    }
    td {
        text-align:left;
        padding:0 $g_pad_s $v_pad; 
        @include respond_to(mobile){
            padding:0 ($g_pad_s / 2) $v_pad_s; 
        }
    }
    tr:last-child td {
        padding-bottom:0;
    }
}


// Archives Page

.archive-tabs {
    @extend %clearfix;
    margin:0;
    padding:0;
    width:100%;
    .archive-tabs-item {
        display:none;
        list-style:none;
        width:100%;
        &:first-child {
            display:block;
        }
        float:left;
    }
    .tab-categories, .tab-tag-cloud {
        margin:0;
        padding:0;
    }
    // ul {
    //     @extend %clearfix;
    //     margin:0;
    //     padding:0;
    //     display:block;
    // }
}

.list-archive-monthly {
    @extend %clearfix;
    display:block;
    margin:0;
    padding:0;
    width:100%;
    .list-archive-monthly-item {
        @extend %border-box;
        display:block;
        width:15%;
        float:left;
        text-align:left;
        padding:$v_pad 0 0 0;
        position:relative;
        .archive-month {
            text-transform:uppercase;
            font-family:$font_heading;
            font-weight:500;
        }
        @include respond_to(mobile){
            width:25%;
        }
    }
    .list-archive-link {
        border-bottom:none;
    }
}

.list-archive-monthly-year {
    color:$gray_04;
    font-weight:400;
    padding-top:$v_pad_l;
    padding-bottom:0;
    &:first-of-type {
        padding-top:0;
    }
}


